body 

{
    font-family: helvetica, Arial, sans-serif;
    line-height: 1.5;
    margin: 10px;
    font-size: 1em;
}

/* plaaaaaa */
h1

{
    font-family: helvetica, arial serif;
    font-size: 1.5em;
    margin-bottom: 1.5em;
    color: #454545;
    font-weight: bold;
}

p

{
    color: #7a7a7a;
    margin-left: 20px;
    margin-bottom: 1.5em;
}

blockquote

{
   



    padding: 15px;
    font-style: italic;
    font-size: 1.2em;
    background-color: #e7f2fa;
    width: 800px;
    margin: 0px 80px 20px 60px;
    border-left: 5px solid #8870FF;
}

blockquote p {
    font-style: italic;
    font-size: 1.2em;
    color: #444;
    margin-right: 80px;
    margin-bottom: 20px;
    margin-left: 60px;
    padding: 15px;
  }

em

{
    display: block;
    text-align: right;
    font-style: italic;
    font-size: 1.2em;
    color: #444;
    margin-right: 20px;

}

a

{
    color: #8870FF;
    margin-left: 20px;
}